**/nbactions.xml
**/nbproject
**/target
**/.settings
**/.classpath
**/.project
**/.DS_Store
**/.tmp
**/dist
**/logs

# IntelliJ Idea files
*.iml
.idea
wipp-backend-application/bin
wipp-backend-core/bin
wipp-backend-images/bin
wipp-backend-argo-workflows/bin
wipp-backend-application/pom.xml

